/config/private.yml
/blobs
/dev_releases
/releases/*.tgz
/releases/**/*.tgz
/.dev_builds
/.final_builds/jobs/**/*.tgz
/.final_builds/packages/**/*.tgz
/tmp
.DS_Store
.idea
*.swp
*~
*#
#*

# Golang
/bin
/pkg

# Golang Tools
src/golang.org/x/tools

# Bosh Deploys
my_sha
